<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-with", initial-scale="1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
        <title>Acceuil</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="https://bootswatch.com/5/cyborg/bootstrap.min.css">
    </head>

    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/test">Acceuil
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cv">CV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
        <div class="ecran">
            <div class="carte">
                <img src="{{ asset('images/profil.png') }}">
                <h2>Maisonnial Alexandre</h2>
                <p> Etudiant BUT Réseaux & télécommunications</p>
                <div class="reseau">
                    <a href="https://www.instagram.com"><img src="{{ asset('images/insta.png') }}"></a>
                    <a href="https://twitter.com/"><img src="{{ asset('images/twitter.png') }}"></a>
                </div>
                <a href="alexandre.maisonnial@gmail.com" class="bouton">alexandre.maisonnial@gmail.com</a>
            </div>
        </div>

        <script type="text/javascript" src="{{ asset('js/vanilla-tilt.js') }}"></script>
        <script type="text/javascript">
            VanillaTilt.init(document.querySelector(".carte"), {
                max: 15,
                speed: 400
            });
        </script>
    <h1>Je m'apelle maisonnial Alexandre</h1>

    </body>